nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid #AE9A65;
  text-align: center;
  z-index: 6;
  background-color: #FFF;
}


@media screen and (max-width: 700px) {
  nav .logo {
    display: none;
  }

  nav {
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  nav a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-top: 1px solid #AE9A65;
  margin: 0 40px;
  z-index: 1;
  background-color: #FFF;
}

.slider {
  list-style-type: none;
  padding-left: 0;
  height: 200px;
  width: 3200px;
  position: absolute;
  top: 0;
  z-index: 5;
  animation: slider 10s infinite;
  animation-delay: 0.83325s;
}

@keyframes slider {
  0% {left: 0px;}
  8.3325% {left: 0px;}
  24.9975% {left: -800px;}
  41.6625% {left: -800px;}
  58.31% {left: -1600px;}
  74.97% {left: -1600px;}
  83.3% {left: -2400px;}
  91.63% {left: -2400px;}
}

.slider li {
  margin: 0;
  padding: 0;
  float: left;
}

.meniu .tooltip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  padding: 10px;
  background-color: #FFF;
  color: #AE9A65;
  font: 25px "Niconne";
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 1s linear;
  }

  .item:hover .tooltip {
    height: 30px;
    opacity: 0.8;
    visibility: visible;
  }

  .color-primary-0 { color: #AE9A65 }	/* Main Primary color */
  .color-primary-1 { color: #FBEFCF }
  .color-primary-2 { color: #D1C092 }
  .color-primary-3 { color: #897644 }
  .color-primary-4 { color: #735E25 }

  main {
    margin-top: 100px;
  }

  .contact-left {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .contact-container {
    width: 94%;
    margin: 15px 4% 15px 2%;
  }

  form {
    overflow: auto;
    border: 2px solid #AE9A65;
  }

  form input[type=text] {
    width: 100%;
    border: 2px solid #AE9A65;
    background: #FBEFCF;
    margin: 0 0 5px 0;
    text-indent: 2px;
    padding: 4px 0;
  }

  form input[type=submit] {
    float: right;
    padding: 2px 10px;
    background-color: #AE9A65;
    color: #735E25;
    font: bold 20px Arial;
  }

  form input[type=text]:nth-child(3) {
    margin: 0 0 2px 0;
  }

  textarea {
    width: 94%;
    margin: 15px 2% 15px 4%;
    height: 150px;
    border: 2px solid #AE9A65;
    background: #FBEFCF;
    text-indent: 2px;
    padding: 4px 0;
  }

  .contact-right {
    display: inline-block;
    width: 50%;
  }

  .contact-info {
    border: 2px solid #AE9A65;
    margin-top: 10px;
  }

  .harta {
    width: 50%;
    display: inline-block;
  }

  .harta img {
    width: 95%;
    padding: 10px 0px 15px 10px;
  }

  .date-contact {
    display: inline-block;
    width: 50%;
    float: right;
    position: relative;
    top: 10px;
  }

  .date-contact p {
    line-height: 30px;
    color: #AE9A65;
    font-size: 24px;
  }

  .fa-mobile {
    font-size: 35px;
  }
